.nav-container {
    background-color: #2b2b2b;
    padding: 1.2rem 0;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.407);
    position: sticky;
}

.nav-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1 {
    color: #FBF5F3;
    font-size: 2rem;
}

.nav-links {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: #FBF5F3;
    transition: 0.2s ease-in-out;
}

a:hover {
    color: #DD6E42;
}

a h2 {
    font-size: 1.2rem;
}


@media(max-width: 590px) {
    .nav-wrapper {
          flex-direction: column;
    }

    a.logo {
          margin-bottom: 0.5rem;
          padding-bottom: 0.5rem;
          border-bottom: 2px solid white;
          width: 100%;
    }

    .nav-links {
          width: 100%;
    }
}